body {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


header
{
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    justify-content: space-between;
}

nav
{
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

main
{
    margin: 10px;
    border-radius: 10px;
}

.container {
    display: grid;
    /* height: 100vh; */
    grid-template-areas:
        'header header header'
        'nav main main'
        '. main main'
        'footer footer footer';
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}


#live-btn {
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#live-btn:hover
{
    color:black;
    background-color: white;
}

#live-btn > a
{
    margin-top: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
}
.navbar > a {
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.navbar > a:hover {
    background-color: tomato;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: white;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: black;
}

#btn {
    margin-top: 10px;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.links {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}
.f-header {
    text-align: center;
    padding: 20px;
}
.links > a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.footer > hr {
    width: 60%;
    color: gray;
}

.header-text
{
    flex-wrap: wrap;   
}

.country
{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card
{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
}